#camera-wrapper {
	width: 71%;
	height: 80vh;
	background-color: #ccccff;
	float: left;
}

#camera {
	height: 60%;
	margin: 0 auto;
}

#side-panel {
	background-color: #fffcff;
	border: 0.3vw solid #4242DD;
	width: 28%;
	height: 80vh;
	float: right;
	overflow: scroll;
}

.user-image {
	width: 100%;
}

.user-image > a {
	width: 100%;
	margin: 10px auto;
	display: block;
}

.user-image > a > img {
	width: 80%;
	display: block;
	margin: 0 auto;
}

#video {
	height: 60%;
}

video, #canvas1 {
	display: block;
	margin: 0 auto;
	width: 80%;
	padding-top: 2vmin;
}

video {
	display: none;
}

#overlay-panel {
	width: 100%;
	height: 40%;
	border: 0.3vw solid #4242DD;
}

button {
	margin: 0 auto;
	text-align: center;
}

#savebutton, #deletebutton {
	display: none;
}

#startbutton {
	height: 5vmin;
	width: 5vmin;
	font-size: 2vmin;
	border-radius: 100%;
	background-color: black;
	color: red;
	display: block;
}

#overlay-images {
	width: 100%;
	height: 95%;
	background-color: white;
	list-style-type: none;
}

#overlay-images img:hover {
	cursor: pointer;
}

#overlay-images li {
	float: left;
	width: 20%;
	height: 100%;
}

#overlay-images img {
	display: block;
	margin: 50% auto;
	max-width: 80%;
	height: 40%;
}
