.main {
	height: 80vh;
}

form {
	position: relative;
	top: 14vh;
	text-align: center;
	margin: 0 auto;
	font-family: sans-serif;
}

h2 {
	font-weight: bold;
	font-size: 300%;
	font-family: 'Lobster', cursive, sans-serif;
	color: #333;
	text-align: center;
	position: relative;
	top: 7vh;
}

h3 {
	text-align: center;
	font-size: 5vmin;
	display: block;
}

input[type="checkbox"] {
	margin: 15px 0;
	margin-right: 7px;
}

input[type="text"], input[type="password"], input[type="email"] {
	margin-top: 20px;
	padding-left: 7px;
	width: 25vw;
	height: 4vmin;
	border-radius: 3px;
	font-size: 1.5vmin;
}

input[type="submit"] {
	width: 20vw;
	height: 3vmin;
	margin-top: 15px;
}
