form {
	position: relative;
	top: 14vh;
	text-align: center;
	margin: 0 auto;
	font-family: sans-serif;
}

#username, #email, #password, #password_again {
	margin-top: 20px;
	width: 25vw;
	height: 4vmin;
	border-radius: 3px;
}

#remember {
	margin: 15px 0;
}

h2 {
	font-weight: bold;
	font-size: 300%;
	color: #323232;
	text-align: center;
	position: relative;
	top: 7vh;
}
