* {
	margin: 0;
	padding: 0;
}

body {
	background-color: lavender;
	font-family: 'Lobster', cursive, sans-serif;
	font-size: 18px;
}

#header {
	width: 100%;
}

#logo-wrapper {
	width: 20%;
	height: 14vh;
	background-color: #4242DD;
	float: left;
}

#nav-wrapper {
	width: 80%;
	height: 14vh;
	background-color: #4242DD;
	float: right;
}

#logo-wrapper h1 {
	padding: 3vh 0 0 15px;
	color: lavender;
	font-size: 4.7vmin;
}

#logo-wrapper a {
	text-decoration: none;
}

#nav-wrapper ul {
	width: 75%;
	height: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#nav-wrapper li {
	text-align: center;
	font-size: 2.2vmin;
	float: right;
	width: 12vw;
	height: 100%;
}

#nav-wrapper li:after-last {
	clear: both;
}

#nav-wrapper a:hover {
	background-color: white;
	color: #4242DD;
	font-weight: bold;
}

#nav-wrapper a {
	display: block;
	text-decoration: none;
	color: lavender;
	height: 100%;
	padding-top: 4vh;
}

.flash, .flash-container {
	background-color: #42DD42;
}

.error, .error-close {
	background-color: #DD4242;
}

#flash-container, #error-container {
	width: 100%;
	position: absolute;
	z-index: 1000;
	/* display: none; */
}

.error {
	width: 97%;
}

.flash {
	width: 100%;
}

.error-close, .flash-close {
	width: 3%;
}

.flash, .error, .error-close, .flash-close {
	opacity: 0.9;
	height: 42px;
	padding-top: 2px;
	border-bottom: 0.5px solid darkred;
	display: inline-block;
	position: relative;
	color: white;
}

#flash-container .conatainer:hover, #error-container .container:hover {
	opacity: 0.9;
	cursor: pointer;
}

footer {
	height: 7%;
	width: 100%;
	background-color: #4242DD;
	position: fixed;
	bottom: 0;
	font-size: 2vmin;
}

footer #footer-1 {
	padding: 10px 0 0 10px;
	text-align: left;
	float: left;
}

footer #footer-2 {
	padding: 10px 10px 0 0;
	text-align: right;
	float: right;
}
