#main-wrapper {
	height: 80vh;
	width: 100%;
	text-align: center;
}

#title {
	display: block;
	text-align: center;
	font-size: 5vmin;
}

#title h1 {
	width: 80%;
	background-color: steelblue;
	float: left;
}

#title img {
	display: block;
	float: left;
	max-width: 20%;
	height: 12vmin;
	background-color: indianred;
}

#image {
	height: 60%;
	background-color: red;
}

#main-image {
	display: block;
	margin: auto;
	height: 100%;
	width: auto;
	max-width: 100%;
}

#likes, #comments {
	font-size: 3.5vmin;
}

#likes {
	display: block;
	width: 90%;
	height: 5%;
	text-align: center;
}

#comments {
	height: 25%;
	width: 100%;
}

.comment {
	display: block;
	width: 80%;
	margin: 0 auto;
}

.comment:nth-child(even) {
	background-color: gainsboro;
}

.comment:nth-child(odd) {
	background-color: indianred;
}
