#image-container {
	width: 100%;
}

img {
	padding-top: 5vmin;
	display: block;
	width: 60%;
	margin: auto;
}

#image-container h1, p {
	text-align: center;
}

a, button {
	display: block;
	margin: 0 auto;
	text-decoration: none;
	padding-top: 5px;
}
